APP_NAME=File Processing API
ENVIRONMENT=development

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/file_processing_db

DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800

AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_REGION=ap-south-1

S3_BUCKET_NAME=file-processing-bucket-19

SQS_FILE_PROCESSING_QUEUE_URL=YOUR_FILE_QUEUE_URL
SQS_EMAIL_NOTIFICATION_QUEUE_URL=YOUR_EMAIL_QUEUE_URL

SES_FROM_EMAIL=YOUR_VERIFIED_EMAIL